.home-page {
    background: url("../../../src/images/background.png") center no-repeat;
    background-size: contain;
    height: 650px;
}

.home-page-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-page-img img {
    height: 450px;
    margin-top: 50px;
}

.home-page-info {
    text-align: center;
    margin-top: 50px;
}

.home-page-info h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 1px lightgrey;
}

.home-page-button {
    margin: 15px;
    width: 120px;
}

.home-page-button-2 {
    margin: 15px;
    width: 200px;
}