.project-list-div {
    display: flex;
    justify-content: space-evenly;
}

.project-list-img {
    height: 380px;
    margin-top: 50px;
}
.h1-div {
    border-bottom: solid 2px black;
    width: 350px;
    margin: auto auto 50px;
}

.projects-h1 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}