html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}



.signup-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.form-signin {
    width: 300px;
    max-width: 330px;
    padding: 15px;
    margin-top: 100px;

}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.username-input {
    margin-bottom: 10px;
}

.login-button {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}